<div class="background-overlay"></div>
<div class="container">
  <header>
    <h1>Dark Dungeon RPG</h1>
  </header>

  @if (player$ |async; as player) {
  <div class="player-info">
    <div class="avatar-section">
      <img src="../../assets/avatar.jpeg" alt="Player Avatar" />
      <p><strong>Name:</strong> {{ player.userName }}</p>
    </div>
    <div class="stats-section">
      <h2>Stats</h2>
      <p><strong>Health:</strong> {{ player.currentHP }}/{{ player.hp }}</p>
      <p><strong>Strength:</strong> {{ player.strength }}</p>
      <p><strong>Endurance:</strong> {{ player.endurance }}</p>
    </div>
  </div>
  }

  <nav class="nav-menu">
    <ul>
      <li><a routerLink="/combat">Prepare for Combat</a></li>
      <li><a routerLink="/shop">Visit the Shop</a></li>
      <li><a routerLink="/quests">Check Quests</a></li>
    </ul>
  </nav>
</div>
