<div class="background-overlay"></div>
<div class="container">
  <h1>Dark Dungeon RPG Character Creation</h1>
  <form
    [formGroup]="createForm"
    (ngSubmit)="$event.preventDefault(); submitForm()"
  >
    <div class="form-group">
      <label for="username">Adventurer Name:</label>
      <input type="text" id="username" formControlName="userName" required />
      <mat-progress-bar
        *ngIf="createForm.get('userName')?.pending"
        mode="indeterminate"
      ></mat-progress-bar>
      <div
        *ngIf="
          createForm.get('userName')?.invalid &&
          (createForm.get('userName')?.dirty ||
            createForm.get('userName')?.touched)
        "
      >
        <small
          class="text-danger"
          *ngIf="createForm.get('userName')?.hasError('required')"
        >
          User name is required
        </small>
        <small
          class="text-danger"
          *ngIf="createForm.get('userName')?.hasError('minlength')"
        >
          User name lenght must be more than 4 symbols
        </small>
        <small
          class="text-danger"
          *ngIf="createForm.get('userName')?.hasError('uniqueUserName')"
        >
          This user name is already taken
        </small>
        <small
          class="text-danger"
          *ngIf="createForm.get('userName')?.hasError('pattern')"
        >
          User name must contain only latin and numeric values
        </small>
      </div>
    </div>
    <div class="form-group">
      <label for="class">Class:</label>
      <select id="class" name="class" required>
        <option value="warrior">Warrior</option>
        <option value="mage">Mage</option>
        <option value="rogue">Rogue</option>
        <option value="cleric">Cleric</option>
      </select>
    </div>
    <div class="form-group">
      <label for="race">Race:</label>
      <select id="race" name="race" required>
        <option value="human">Human</option>
        <option value="elf">Elf</option>
        <option value="dwarf">Dwarf</option>
        <option value="orc">Orc</option>
      </select>
    </div>
    <button type="submit">Join the Quest</button>
  </form>
</div>
